@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: "Lato", sans-serif;
    color: white;
}

body {
    background-color: black;
}

header {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), 
    url("../imagens/wallpaper02.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}

header h1 {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
}

header p {
    font-size:20px;
}
 
main {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    width: 35vw;
    height: 25vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 20px;

}

.card img {
   width: 100px;
   border-radius: 50%;
   
}

.nome {
    padding-top: 10px;
    font-weight: 900;
}

.descNome{
    padding-top: 25px;
    font-weight: 500;
}

